/* Custom CSS to ensure there's no extra space below the navbar */
.navbar {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.navbar .container,
.navbar .container-fluid {
    padding: 0 !important;
    margin: 0 !important;
}